<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
    </pluginGroups>
    <proxies>
    </proxies>
    <servers>
        <server>
            <id>gy-releases</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>gy-snapshots</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
    </servers>
    <mirrors>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
               
                <repository>
                    <id>gy-snapshots</id>
                    <name>gy-snapshots</name>
                    <url>http://maven.yonyoucloud.com/nexus/content/repositories/gy-snapshots</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>gy-releases</id>
                    <name>gy-releases</name>
                    <url>http://maven.yonyoucloud.com/nexus/content/repositories/gy-releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
               
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>iUAP-Snapshots</id>
                    <name>iUAP-Snapshots</name>
                    <url>http://172.16.51.12:8081/nexus/content/repositories/iUAP-Snapshots/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus</id>
                    <name>Nexus</name>
                    <url>http://172.16.51.12:8081/nexus/content/groups/public</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>iWeb</id>
                    <name>iWeb</name>
                    <url>http://172.16.51.12:8081/nexus/content/repositories/iWeb/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>central</id>
                    <name>central</name>
                    <url>http://172.16.51.12:8081/nexus/service/local/repositories/central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <!--	<pluginRepository>
                            <id>UAP_WEB2.0</id>
                            <name>UAP_WEB2.0</name>
                            <url>http://172.16.51.12:8081/nexus/content/repositories/UAP_WEB2.0</url>
                            <releases>
                            <enabled>true</enabled>
                            </releases>
                            <snapshots>
                            <enabled>true</enabled>
                            </snapshots>
                        </pluginRepository>-->
                <pluginRepository>
                    <id>thirdparty</id>
                    <name>thirdparty</name>
                    <url>http://172.16.51.12:8081/nexus/repositories/thirdparty</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>3rdsnapshot</id>
                    <name>3rdsnapshot</name>
                    <url>http://172.16.51.12:8081/nexus/repositories/3rdsnapshot</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>releases</id>
                    <name>releases</name>
                    <url>http://172.16.51.12:8081/nexus/repositories/releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshots</id>
                    <name>snapshots</name>
                    <url>http://172.16.51.12:8081/nexus/repositories/snapshots</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>Nuxeo</id>
                    <name>Nuxeo</name>
                    <url>http://172.16.51.12:8081/nexus/content/repositories/Nuxeo</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>central-m1</id>
                    <name>central-m1</name>
                    <url>http://172.16.51.12:8081/nexus/content/shadows/central-m1</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>downloadSources</id>
            <properties>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>true</downloadJavadocs>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
        <activeProfile>downloadSources</activeProfile>
    </activeProfiles>
</settings>
